# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de test y cobertura
.coverage
htmlcov/
*.log

# Archivos de configuración de editor
.vscode/
.idea/

# Otros
.DS_Store 
.pytest_cache/ 